<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Courses</title>
  <link rel="stylesheet" href="../../resources/css/courses.css" />
</head>
<body>
  <nav>
    <div class="navbar">
      <h1>AASTU E-learning</h1>
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="about-us.html">About us</a></li>
        <li><a href="contact-us.html">Contact us</a></li>
      </ul>      
    </div>
  </nav>
  <div class="title">
    <h1>Courses</h1>
  </div>
  <main>
    <a href="COA.html">
      <div>
        <img src="../../resources/images/COA-image.jpg" alt="COA image" height="250" width="450" />
        <h2>Computer Organization and Architecture</h2>
      </div>
    </a>
    <a href="DSA.html">
      <div>
        <img src="../../resources/images/DSA-image.jpg" alt="DSA image" height="250" width="450" />
        <h2>Data Structures and Algorithms</h2>
      </div>
    </a>
    <a href="IP.html">
      <div>
        <img src="../../resources/images/IP-image.jpg" alt="IP image" height="250" width="450" />
        <h2>Internet Programming</h2>
      </div>
    </a>
    <a href="OOP.html">
      <div>
        <img src="../../resources/images/OOP-image.jpg" alt="OOP image" height="250" width="450" />
        <h2>Object-Oriented Programming</h2>
      </div>
    </a>
    <a href="SAM.html">
      <div>
        <img src="../../resources/images/SAM-image.jpg" alt="SAM image" height="250" width="450" />
        <h2>System Analysis and Modelling</h2>
      </div>
    </a>
  </main>
  <footer>
    <p>&copy; 2023 AASTU E-learning. All rights reserved.</p>
  </footer>
</body>
</html>