<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AASTU E-learning</title>
  <link rel="stylesheet" href="../resources/css/index.css" />
</head>
<body>
  <nav>
    <div class="navbar">
      <h1>AASTU E-learning</h1>
      <ul>
        <li><a href="/E-learningProject/App/index.html">Home</a></li>
        <li><a href="/E-learningProject/App/views/about-us.html">About us</a></li>
        <li><a href="/E-learningProject/App/views/contact-us.html">Contact us</a></li>
        <li><a href="/E-learningProject/App/views/login.html">Login</a></li>
      </ul>      
    </div>
  </nav>
  <div class="first">
    <h1>Welcome to AASTU E-learning</h1>
    <p>Empowering Education Through Technology</p>
    <a href="/E-learningProject/App/views/login.html"> <button>Get Started</button></a>
   
  </div>
  <div class="main-content">
    <h2>Explore a World of Knowledge</h2>
    <p>Discover a wide range of online courses that cater to your interests and career aspirations. Whether you want to learn a new skill, enhance your professional expertise, or pursue a personal passion, AASTU E-learning has the courses for you.</p>
    
    <h2>Flexible Learning, Anytime, Anywhere</h2>
    <p>Our platform offers the flexibility you need to learn at your own pace, fitting seamlessly into your busy lifestyle. Access course materials, video lectures, and interactive learning resources whenever and wherever it's convenient for you.</p>
    
    <h2>Learn from Industry Experts</h2>
    <p>Our courses are taught by experienced instructors who are leaders in their respective fields. Benefit from their wealth of knowledge, practical insights, and real-world experience as they guide you through the learning journey.</p>
    
    <h2>Join a Thriving Learning Community</h2>
    <p>Connect with like-minded learners from around the globe. Engage in discussions, collaborate on projects, and gain valuable insights from your peers. Our vibrant learning community will inspire and support you throughout your educational endeavors.</p>
    
    <h2>Enroll Today and Unlock Your Potential</h2>
    <p>Embark on a transformative learning experience with AASTU E-learning. Browse our course catalog, choose the courses that align with your goals, and enroll today to unlock your full potential.</p>    
  </div>

  

</body>
<footer>
  <p>&copy; 2023 AASTU E-learning. All rights reserved.</p>
</footer>
</html>