<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AASTU E-learning - IP</title>
  <link rel="stylesheet" href="../../resources/css/course.css" />
  <script src="https://kit.fontawesome.com/c5ec033cd3.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav>
    <div class="navbar">
      <h1>AASTU E-learning</h1>
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="about-us.html">About us</a></li>
        <li><a href="contact-us.html">Contact us</a></li>
        <li><a href="courses.html">Courses</a></li>
      </ul>      
    </div>
  </nav>
  <div>
    <h1>Internet Programming</h1>
    
   <div class="title"><h2>Lecture Videos</h2><i class="fa-solid fa-chevron-down"></i></div>
   <div class="vids">
    <div class="vids-section">
      <div class="video-container">
          <div class="video-playlist">
              <iframe src="https://www.youtube.com/embed/uL5k1LLYpZI?list=PLPVL3nWguxerAX33IKspLyyrdFL843WHD" frameborder="0" allowfullscreen></iframe>
              <h2>Lecture 1</h2>
          </div>
      </div>
      <div class="playlist-selector">
          <h4>Lecture Playlist</h4>
          <button class="select-video active" id="selectVideo1" onclick="changeVideo(this, 'https://www.youtube.com/embed/uL5k1LLYpZI?list=PLPVL3nWguxerAX33IKspLyyrdFL843WHD', 'Lecture 1');">
            <h3>Lecture 1</h3>
          </button>
          <button class="select-video" id="selectVideo2" onclick="changeVideo(this, 'https://www.youtube.com/embed/Hbff9xvJFI4?list=PLPVL3nWguxerAX33IKspLyyrdFL843WHD', 'Lecture 2');">
            <h3>Lecture 2</h3>
          </button>
          <button class="select-video" id="selectVideo3" onclick="changeVideo(this, 'https://www.youtube.com/embed/KYvlskFzLOA?list=PLPVL3nWguxerAX33IKspLyyrdFL843WHD', 'Lecture 3');">
            <h3>Lecture 3</h3>
          </button>
          <button class="select-video" id="selectVideo4" onclick="changeVideo(this, 'https://www.youtube.com/embed/bzUCK6lUSrQ?list=PLPVL3nWguxerAX33IKspLyyrdFL843WHD', 'Lecture 4');">
            <h3>Lecture 4</h3>
          </button>
          <button class="select-video" id="selectVideo4" onclick="changeVideo(this, 'https://www.youtube.com/embed/xhhSfSTZcFM?list=PLPVL3nWguxerAX33IKspLyyrdFL843WHD', 'Lecture 5');">
              <h3>Lecture 5</h3>
          </button>
          <button class="select-video" id="selectVideo4" onclick="changeVideo(this, 'https://www.youtube.com/embed/XrStV1SF3BA?list=PLPVL3nWguxerAX33IKspLyyrdFL843WHD', 'Lecture 6');">
              <h3>Lecture 6</h3>
          </button>
          <button class="select-video" id="selectVideo4" onclick="changeVideo(this, 'https://www.youtube.com/embed/Dc96LvPyIag?list=PLPVL3nWguxerAX33IKspLyyrdFL843WHD', 'Lecture 7');">
              <h3>Lecture 7</h3>
          </button>
          <button class="select-video" id="selectVideo4" onclick="changeVideo(this, 'https://www.youtube.com/embed/Sv00QBCXA6I?list=PLPVL3nWguxerAX33IKspLyyrdFL843WHD', 'Lecture 8');">
              <h3>Lecture 8</h3>
          </button>
          <button class="select-video" id="selectVideo4" onclick="changeVideo(this, 'https://www.youtube.com/embed/BBwg8JgVfok?list=PLPVL3nWguxerAX33IKspLyyrdFL843WHD', 'Lecture 9');">
              <h3>Lecture 9</h3>
          </button>
          <button class="select-video" id="selectVideo4" onclick="changeVideo(this, 'https://www.youtube.com/embed/SqEINaulX3k?list=PLPVL3nWguxerAX33IKspLyyrdFL843WHD', 'Lecture 10');">
              <h3>Lecture 10</h3>
          </button>
        </div>
    </div>
  </div>

    <div class="title"><h2>Course Materials</h2><i class="fa-solid fa-chevron-down"></i></div>
   
    <div class="materials">
      <ul>
        <li><a href="/E-learningProject/resources/pdfs/IP/0_Chapter 1.pdf">Chapter_1</a></li>
        <li><a href="/E-learningProject/resources/pdfs/IP/2_Chapter 2 Part I.pdf">Chapter_2_Part_I</a></li>
        <li><a href="/E-learningProject/resources/pdfs/IP/2_Chapter 2 Part II.pdf">Chapter_2_Part_II</a></li>
        <li><a href="/E-learningProject/resources/pdfs/Ip/2_Chapter 2 Part III.pdf">Chapter_2_Part_III</a></li>
        <li><a href="/E-learningProject/resources/pdfs/IP/3_Chapter 3 Part I - CSS.pdf">Chapter_3_Part_I</a></li>
        <li><a href="/E-learningProject/resources/pdfs/IP/3_Chapter 3 Part II - CSS (1).pdf">Chapter_3_Part_II</a></li>
        <li><a href="/E-learningProject/resources/pdfs/IP/3_Chapter 3 Part III - CSS.pdf">Chapter_3_Part_III</a></li>
        <li><a href="/E-learningProject/resources/pdfs/IP/4_Chapter 4 Part I - JavaScript.pdf">Chapter_4</a></li>
      </ul>      
    </div>
    <div class="title"><h2>Assignments</h2><i class="fa-solid fa-chevron-down"></i></div>
    <div class="assignments">
      <ul>
        <li><p>No assignments yet.</p></li>
      </ul>
    </div>

    <div class="title"><h2>Tests</h2> <i class="fa-solid fa-chevron-down"></i>   </div>
    <div class="test">
      <ul>
        <li>No Tests yet.</li>
      </ul>      
    </div>
  </div>
  <script src="../../resources/js/expand.js"></script>
  <script src="../../resources/js/playlist.js"></script>
</body>
</html>