<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AASTU E-learning - OOP</title>
  <link rel="stylesheet" href="../../resources/css/course.css" />
  <script src="https://kit.fontawesome.com/c5ec033cd3.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav>
    <div class="navbar">
      <h1>AASTU E-learning</h1>
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="about-us.html">About us</a></li>
        <li><a href="contact-us.html">Contact us</a></li>
        <li><a href="courses.html">Courses</a></li>
      </ul>      
    </div>
  </nav>
  <div>
    <h1>Object-Oriented Programming</h1>
    
    <div class="title"><h2>Lecture Videos</h2><i class="fa-solid fa-chevron-down"></i></div>
    <div class="vids">
      <div class="vids-section">
        <div class="video-container">
            <div class="video-playlist">
                <iframe src="https://www.youtube.com/embed/BSVKUk58K6U?list=PL9gnSGHSqcno1G3XjUbwzXHL8_EttOuKk" frameborder="0" allowfullscreen></iframe>
                <h2>Lecture 1</h2>
            </div>
        </div>
        <div class="playlist-selector">
          <h4>Lecture Playlist</h4>
            <button class="select-video active" id="selectVideo1" onclick="changeVideo(this, 'https://www.youtube.com/embed/BSVKUk58K6U?list=PL9gnSGHSqcno1G3XjUbwzXHL8_EttOuKk', 'Lecture 1');">
              <h3>Lecture 1</h3>
            </button>
            <button class="select-video" id="selectVideo2" onclick="changeVideo(this, 'https://www.youtube.com/embed/_Ya6CN13t8k?list=PL9gnSGHSqcno1G3XjUbwzXHL8_EttOuKk', 'Lecture 2');">
              <h3>Lecture 2</h3>
            </button>
            <button class="select-video" id="selectVideo3" onclick="changeVideo(this, 'https://www.youtube.com/embed/46T2wD3IuhM?list=PL9gnSGHSqcno1G3XjUbwzXHL8_EttOuKk', 'Lecture 3');">
              <h3>Lecture 3</h3>
            </button>
            <button class="select-video" id="selectVideo4" onclick="changeVideo(this, 'https://www.youtube.com/embed/W145DXs8fFg?list=PL9gnSGHSqcno1G3XjUbwzXHL8_EttOuKk', 'Lecture 4');">
              <h3>Lecture 4</h3>
            </button>
            <button class="select-video" id="selectVideo4" onclick="changeVideo(this, 'https://www.youtube.com/embed/rgHZa7-Dibg?list=PL9gnSGHSqcno1G3XjUbwzXHL8_EttOuKk', 'Lecture 5');">
                <h3>Lecture 5</h3>
            </button>
            <button class="select-video" id="selectVideo4" onclick="changeVideo(this, 'https://www.youtube.com/embed/OY2lPr8h93U?list=PL9gnSGHSqcno1G3XjUbwzXHL8_EttOuKk', 'Lecture 6');">
                <h3>Lecture 6</h3>
            </button>
            <button class="select-video" id="selectVideo4" onclick="changeVideo(this, 'https://www.youtube.com/embed/9ogGan-R1pc?list=PL9gnSGHSqcno1G3XjUbwzXHL8_EttOuKk', 'Lecture 7');">
                <h3>Lecture 7</h3>
            </button>
          </div>
      </div>
    </div>

    <div class="title"><h2>Course Materials</h2><i class="fa-solid fa-chevron-down"></i></div>
   
    <div class="materials">
      <ul>
        <li><a href="/E-learningProject/resources/pdfs/OOP/Chapter 1- IntroductiontoOOP-converted.pdf">Chapter 1- IntroductiontoOOP</a></li>
        <li><a href="/E-learningProject/resources/pdfs/OOP/Chapter 2-BasicsinJavaProgramming-converted.pdf">Chapter 2-BasicsinJavaProgramming</a></li>
        <li><a href="/E-learningProject/resources/pdfs/OOP/Chapter 3 -classes&objects-converted.pdf">Chapter 3 -classes&objects</a></li>
        <li><a href="/E-learningProject/resources/pdfs/OOP/Chapter 4-Inheritance.pdf">Chapter 4-Inheritance</a></li>
        <li><a href="/E-learningProject/resources/pdfs/OOP/Chapter 5-Polymor.pdf">Chapter 5-Polymorphism</a></li>
        <li><a href="/E-learningProject/resources/pdfs/OOP/Chapter 6-Exception Handling.pdf">Chapter 6-Exception Handling</a></li>
        <li><a href="/E-learningProject/resources/pdfs/OOP/Chapter 7- GUI.pdf">Chapter 7- GUI</a></li>
      </ul>      
    </div>
    <div class="title"><h2>Assignments</h2><i class="fa-solid fa-chevron-down"></i></div>
    <div class="assignments">
      <ul>
        <li><p>No assignments yet.</p></li>
      </ul>
    </div>

    <div class="title"><h2>Tests</h2> <i class="fa-solid fa-chevron-down"></i>   </div>
    <div class="test">
      <ul>
        <li>No Tests yet.</li>
      </ul>      
    </div>
  </div>
  <script src="../../resources/js/expand.js"></script>
  <script src="../../resources/js/playlist.js"></script>
</body>
</html>